{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <p></p>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          A simple danger alert—check it out!
        </div>
    {% endif %}

    <h1 align="center">Registro de Alumnos</h1>
    <form action="{% url 'guardarAlumno'%}" method="POST">
        {% csrf_token %}
        {% if mensaje %}

            <div class="alert alert-success" role="alert">
                Alumno Registrado Exitosamente!!!
            </div>
        {% endif %}

        {{form|crispy}}


    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-warning" href="{% url 'listarAlumnos' %}">Cancelar</a>
    <a class="btn btn-success col-md-1" href="{% url 'listarAlumnos' %}">Registrados</a>
    </form>

{% endblock %}